<apex:page >
<script> 
    var previousOnload = window.onload; 
    window.onload = function() { 
        if (previousOnload) { 
            previousOnload(); 
        }
        window.location.href='/mylogin'; 
    } 
</script>


  <!-- Begin Default Content REMOVE THIS -->
  <h1>該当URLは存在しません</h1>
  This is your new Page
  <!-- End Default Content REMOVE THIS -->
</apex:page>