<apex:page showHeader="false" sidebar="false">
  <apex:iframe src="{!$Site.Prefix}/secur/logout.jsp" height="1" width="1" />
  <script>
    function redirectToLogin(){
      window.parent.location="https://www.google.co.jp";
    }   
    setTimeout("redirectToLogin()", 500);
  </script>
  Logging out...
</apex:page>