<apex:page >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Bootstrap -->
    <apex:stylesheet value="{!URLFOR($Resource.script, 'DEMO/vendors/bootstrap/dist/css/bootstrap.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.script, 'DEMO/vendors/bootstrap/dist/js/bootstrap.min.js')}"/>
    <!-- Font Awesome -->
    <apex:stylesheet value="{!URLFOR($Resource.script, 'DEMO/vendors/font-awesome/css/font-awesome.min.css')}"/>
    <!-- Custom Theme Style -->
    <apex:stylesheet value="{!URLFOR($Resource.script, 'DEMO/css/custom.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.script, 'DEMO/js/custom.min.js')}"/>
    <!-- jQuery -->
    <!-- <apex:includeScript value="{!URLFOR($Resource.script, 'DEMO/vendors/jquery/dist/jquery.min.js')}" /> -->
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" />
    <!-- jQuery UI -->
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" />
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>
    <!-- <apex:image url="{!URLFOR($Resource.script, 'DEMO/images/dog.jpg')}" width="50" height="50"/>
    <apex:includeScript value="{!URLFOR($Resource.script, 'DEMO/base/subdir/file.js')}"/>
    -->
    <apex:insert name="header"/>
    <apex:insert name="body"/>
    <apex:insert name="footer">
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <!-- Partner Portal by <a href="http://www.c-o-l.jp">COL</a> -->
            </div>
            <div class="clearfix"></div>
        </footer>
    </apex:insert>
    
</apex:page>